{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title> Error 500 </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="TechError - Error Pages Tailwind CSS 3 HTML Template, It’s fully responsive and built Tailwind v3" name="description" />
    <meta content="Techzaa" name="author" />

    <!-- favicon -->
	<link href="{% static 'img/favicon.ico'%}" rel="shortcut icon"/>

    <!-- Style css -->
    <link href="{% static 'error/assets/css/style.min.css'%}" rel="stylesheet" type="text/css">
</head>

<body>

    <section class="flex items-center h-full bg-orange-100">
        <div class="container">
            <div class="text-center max-w-xl mx-auto">

                <h1 class="sm:text-[180px] text-9xl font-bold text-orange-500">500</h1>
                <h3 class="text-gray-700 sm:text-2xl text-xl font-semibold mb-3">Server Error</h3>
                <h4 class="text-gray-800 text-xl mb-2">Sorry, we were unable to find that page</h4>
                <p class="font-medium text-gray-600">Oops, something went awry! Our servers are having a moment. We're on it and hope to be back online soon. Please be patient.</p>
                <img src="{% static 'error/assets/images/error-2.png'%}" alt="error-2" class="sm:h-[36rem] h-96 mx-auto">
            </div>
        </div>
    </section>

</body>
</html>